.rp-search {
    max-width: 1200px !important;
    margin: 30px auto;
}
.rp-search__filter,
.rp-search__property-status label {
    display: inline-block;
}
.rp-search__filter {
    width: calc(25% - 10px);
}

.rp-search__label__title-currency {
    display: block;
    text-align: center;
}
.rp-search__filter-price-currency {
    display: flex;
    height: 43px;
    align-items: center;
    position: relative;
    & label {
        width: 50%;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        padding: 5px 10px;
    }
}
.rp-search__filter-prices {
    width: calc(50% - 10px);
    display: flex;
    gap: 10px;
    .rp-search__filter-price {
        width: calc(33.333% - 10px);
    }
    .rp-search__filter-price-input {
        display: none;
    }
    &:has(#currency-us:checked) {
        & .rp-search__filter-price-currency label:first-child {
            background-color: #2291c9;
            color: #fff;
        }
        
    }
    &:has(#currency-rd:checked) {
        & .rp-search__filter-price-currency label:last-child {
            background-color: #2291c9;
            color: #fff;
        }
        
    }
}
.rp-search__radio {
    display: none;
}
.property-status_label {
    background-color: #2291c9;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
}
.rp-search__radio:checked + label {
    background-color: #fff;
    color: #000;
    border-left: 1px solid #2291c966;
    border-right: 1px solid #2291c966;
    border-top: 1px solid #2291c966;
}
#rp_exclusive {
    display: none;
}
.rp-search__exclusive {
    background-color: #fff;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    border: 1px solid #2291c966;
    cursor: pointer;
    font-size: 14px;
}
#rp_exclusive:checked + label {
    background-color: #2291c9;
    color: #fff;
}
.rp-search__submit {
    background-color: #2291c9 !important;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #2291c9;
}
.rp-search__filters {
    background-color: #f7f7f7;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.rp-search__filter-footer {
    width: 100%;
}

.rp-search__filter input,
.rp-search__filter select {
    width: 100%;
    height: 43px;
    box-sizing: border-box;
}

@media screen and (max-width: 991px) {
    .rp-search__filter {
        width: calc(50% - 10px);
    }
    .rp-search__filter-prices {
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .rp-search__filter {
        width: 100%;
    }
    .rp-search__exclusive {
        display: block !important;
        text-align: center;
        margin-bottom: 30px;
    }
    .rp-search__submit {
        width: 300px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .rp-search__property-status {
        .property-status_label {
            font-size: 14px;
            padding: 5px 10px;
        }
    }
}
@media screen and (max-width: 450px) {
    .rp-search__filter-prices {
        flex-wrap: wrap;
        .rp-search__filter-price {
            width: calc(50% - 10px);
        }
        .rp-search__filter-price:last-child {
            width: calc(100%);

        }
    }
    .rp-search__property-status {
        .property-status_label {
            font-size: 12px;
            padding: 5px;
        }
    }
}